 /* Style the navigation menu */
 .topnav {
    overflow: hidden;
    background-color: black;
    position: relative;
  }
  
  /* Hide the links inside the navigation menu (except for logo/home) */
  .topnav #myLinks {
    display: none;
  }
body{
  background-color: black;
  color: white;
  font-family: Space Mono;
}
  /* Style navigation menu links */
  .topnav a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
  }
  
  /* Style the hamburger menu */
  .topnav a.icon {
    background: black;
    display: block;
    position: fixed;
    right: 0;
    top: 0;
  }
  
  .active {
    background-color: black;
    color: white;
  } 
h1{
  font-size: 35px;
}
p{
  font-size: 25px;
}
#welcome-section{
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: url("https://cdn.pixabay.com/photo/2017/02/08/12/46/moon-2048727_1280.jpg")
}
#projects{
  height: 500px;
  text-align: center;
}
.row{
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
  margin: 5px;
  margin-bottom: 15px;
}
.column{
  display: flex;
  flex-direction: column;
  flex:1;
  border: 1px solid red;
}
.profile-links{
  display: flex;
}
@media only screen and (max-width: 600px) {
  body {
    #profile-link{
       display: none;
    }
   
  }
}